@import "../../styles/generic.scss";

.recent-events {
  &-gallery {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

    @include from($tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include from($desktop) {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
    }

    @include from($widescreen) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &-show-more {
    margin-top: 2rem;
  }
}
