a {
  color: $primary-color;
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-top: 0;
  text-decoration: none;
  transition: border-bottom 200ms ease, padding-bottom 200ms ease, color 0.5s;

  &:hover {
    border-bottom: 2px solid $primary-color;
    color: black;
    padding-bottom: 1px;

    @include from($tablet) {
      padding-bottom: 4px;
    }
  }

  &.is-reversed {
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;

    &:hover {
      border-bottom: 2px solid $primary-color;
    }
  }

  &.no-underline {
    border-bottom: 0;
    padding-bottom: 0;
  }

  @include from($tablet) {
    padding-bottom: 8px;
  }
}
